<h2>Display &amp; Rant Presents Stinger Check</h2>

<p>Stinger Check is about giving a simple shiny answer to the question "Should I stick around until the very end of the credits?".</p>

<p>
    The idea for the site was from <a href="http://jordanwages.com">Jordan Wages</a>, a man who prefers not to idly watch the entirety of a movie's credits roll by,
    and was built by <a href="http://worldmaker.net">Max Battcher</a>, a man who feels that watching the entire credits is a show of appreciation for the craft and skill
    involved in such a creative labor, after having heard the complaint that such a site should exist many times, including on their shared podcast
    <a href="http://displayandrant.com">Display &amp; Rant</a> ("Show &amp; Tell from opinionated adults").
</p>

<p>
    Stinger Check's first release was finished as something of a non-traditional present for the occaision of Jordan's marriage. Supposedly now Jordan will have one less
    hobby project to complain about needing to build to his wife, and might find the answers he seeks when he wants to check for end credits stingers going forward. &#x1F600;
</p>