<section>
    <h2>Now Playing</h2>
    <div class="list-group" data-bind="foreach: movies">
        <a class="list-group-item" data-bind="attr: { href: '#/detail/' + tomatoId() }, css: { 'list-group-item-success': hasFinalStinger, 'list-group-item-info': !hasFinalStinger() && hasMidStinger }">
            <h4 data-bind="text: title">…</h4>
            <!-- ko if: hasFinalStinger() || hasMidStinger() -->
            <p>
                Reported to have a <span data-bind="visible: hasMidStinger, text: 'mid-credits ' + midType()">…</span>
                <span data-bind="visible: hasMidStinger() && hasFinalStinger()">and a</span>
                <span data-bind="visible: hasFinalStinger, text: 'final ' + finalType()">…</span>
            </p>
            <!-- /ko -->
        </a>
    </div>
</section>